# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# MacOS system files
.DS_Store

# Logs
*.log

# Virtual environments
.venv/
venv/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# LaTeX build files
*.aux
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.log

# VSCode or IDE settings
.vscode/
.idea/
